<nz-layout class="authorized-layout">
  <nz-sider nzCollapsible nzWidth="200px" nzTheme="light" (nzCollapsedChange)="handleCollapseChange($event)">
    <div class="logo-container">
      <img src="/assets/images/logo.png" [class]="{'logo-container__logo': true, 'logo-container__logo__expand': isCollapse}" />
      <p [class]="{'logo-container__text': true, 'logo-container__text--hide': isCollapse}">IDonEnglist</p>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="pie-chart"></span>
        <span><a routerLink="/">Dashboard</a></span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="product" nzTheme="outline"></span>
        <span><a routerLink="/category">Category</a></span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        <span><a routerLink="/test-configuration">Test Configuration</a></span>
      </li>
      <li nz-submenu nzTitle="Test" nzIcon="profile">
        <ul>
          <li nz-menu-item><a routerLink="/collection">Collections</a></li>
          <li nz-menu-item>Final tests</li>
          <li nz-menu-item>Tests</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="authorized-layout__main-content">
    <nz-content>
      <ng-content></ng-content>
    </nz-content>
  </nz-layout>
</nz-layout>
