<div
    class="questions-group-input"
    [appDroppable]="true"
    [excludeList]="excludeItemsToolForGroupQuestions"
    (itemDropped)="handleItemDropped($event)"
    [formGroup]="formGroup"
  >
    @for (control of formGroupControls; track controlIndex; let controlIndex = $index) {
      @switch (control.controlType) {
        @case (eToolList.Direction) {
          <nz-form-item>
            <nz-form-label nzRequired>{{ control.controlType| toolLabel}}</nz-form-label>
            <nz-form-control>
              <textarea 
                nz-input 
                [nzAutosize]="{ minRows: 2, maxRows: 6 }" 
                [formControlName]="control.controlInstance ?? ''"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        }
        @case (eToolList.Passage) {
          <nz-form-item>
            <nz-form-label nzRequired>{{ control.controlType| toolLabel }}</nz-form-label>
            <nz-form-control>
              <app-text-editor-input [formControlName]="control.controlInstance ?? ''"></app-text-editor-input>
            </nz-form-control>
          </nz-form-item>
        }
        @case (eToolList.QuestionWithChoices) {
          @if (control.items && control.items.length > 0) {
            <div [formArrayName]="control.controlInstance ?? ''" class="questions">
              @for (question of control.items; track questionIndex; let questionIndex = $index) {
                <app-question-with-choices-input 
                  [formControlName]="questionIndex"
                  [label]="'Question ' + (questionIndex + 1)"
                >
                </app-question-with-choices-input>
              }
            </div>
          }
        }
        @case (eToolList.FillInTheBlank) {
          @if (control.items && control.items.length > 0) {
            <div [formArrayName]="control.controlInstance ?? ''" class="questions">
              @for (question of control.items; track questionIndex; let questionIndex = $index) {
                <app-fill-in-the-blank-input
                  [formControlName]="questionIndex"
                  [label]="'Question ' + (questionIndex + 1)"
                >
                </app-fill-in-the-blank-input>
              }
            </div>
          }
        }
        @case (eToolList.ClozeTest) {
          <nz-form-item>
            <nz-form-label nzRequired="">{{ control.controlType | toolLabel }}</nz-form-label>
            <nz-form-control>
              <app-cloze-test-input
                [formControlName]="control.controlInstance ?? ''"
              >
              </app-cloze-test-input>
            </nz-form-control>
          </nz-form-item>
        }
      }
    }
</div>