@use "../../../../../variables.scss";

.text-editor {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  &:hover, &:focus, &:focus-visible, &:focus-within {
    border-color: variables.$secondary;
  }

  &:focus, &:focus-within {
    box-shadow: 0 0 0 2px rgba(variables.$secondary, 0.2);
  }

  .NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }

  &--error {
    border-color: variables.$error;

    &:focus, &:focus-within {
      box-shadow: 0 0 0 2px rgba(variables.$error, 0.2) !important;
    }

    &:hover, &:focus, &:focus-visible, &:focus-within {
      border-color: variables.$error;
    }
  
  }
}