<div class="upload-image">
  <nz-form-item>
    <nz-form-control
      [nzValidateStatus]="shouldValidate ? 'error' : ''"
      nzErrorTip="Please upload an image"
    >
      <nz-upload
        [nzAction]="uploadUrl"
        nzName="file"
        nzListType="picture-card"
        [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length === 0"
        [nzBeforeUpload]="beforeUpload"
        [nzPreview]="handlePreview"
        class="upload-image__input"
        [nzRemove]="handleRemove"
        (nzChange)="handleFileListChange($event)"
      >
        <div>
          <span nz-icon nzType="plus"></span>
          <div style="margin-top: 8px">Upload</div>
        </div>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</div>
