@use "../../../../../variables.scss";

.forgot-password {
  width: 300px;

  &__container {
    width: 100%;
    height: auto; // Change to auto to allow the container to grow with content
    position: relative;
    display: flex; // Ensure flex is applied here
    flex-direction: column; // Stack children vertically

    &--title {
      text-transform: capitalize;
      font-size: 28px;
      color: variables.$accent;
      text-align: center;
      margin-bottom: 25px;
    }

    &--form {
      flex: 1; // Allow form to take available space
      width: 100%;
      display: flex; // Ensure form items are displayed correctly
      flex-direction: column; // Stack form items vertically
    }
  }
}
