@use "../../../../variables.scss";
@use "sass:map";

.editor {
  border: 1px solid map.get(variables.$gray-palette, light);
  border-radius: 6px;
  background-color: white;

  &__content {
    outline: none;
    padding: 8px;
  }

  .editable-field {
    border: 1px solid #ccc;
    padding: 2px 4px;
    display: inline-block;
    min-width: 100px;
    cursor: text;
    height: 24px;
    margin-left: 4px;
    margin-right: 4px;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }
}