<app-box>
  <nz-table
    class="categories"
    #nestedTable
    [nzData]="(categories$ | async) ?? []"
    [nzPageSize]="10"
    [nzLoading]="(loading$ | async)"
  >
    <thead>
      <tr>
        <th [nzWidth]="'25px'"></th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of nestedTable.data; track data.id) {
      <tr>
        <td [(nzExpand)]="data.expand"></td>
        <td>
          <a
          [routerLink]="['/category', (data.code | urlCode: data.id)]"
            (click)="handleOpenDrawer()"
            >{{ data.name }}</a
          >
        </td>
        <td>
          <div nz-flex [nzGap]="'large'">
            <a
              [routerLink]="['/category', (data.code | urlCode: data.id)]"
              (click)="handleOpenDrawer()"
            >
              <span nz-icon nzType="edit" nzTheme="twotone"></span>
            </a>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="confirmDelete(data.id)"
            >
              <span
                nz-icon
                nzType="delete"
                nzTheme="twotone"
                [nzTwotoneColor]="'#FF4C4C'"
              ></span>
            </a>
          </div>
        </td>
      </tr>
      <tr [nzExpand]="!!data.expand">
        <nz-table
          #innerTable
          [nzData]="data.children ?? []"
          nzSize="middle"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th [width]="'50%'">Name</th>
              <th [width]="'30%'">Skills</th>
              <th [width]="'20%'">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (data of innerTable.data; track data.id) {
            <tr>
              <td>
                <a
                  [routerLink]="['/category', (data.code | urlCode: data.id)]"
                  (click)="handleOpenDrawer()"
                  >{{ data.name }}</a
                >
              </td>
              <td>
                @for (skill of data.skills; track skill) {
                  <a [routerLink]="['/category', data.code, 'configuration', ((skill.skill| skill).name.toLowerCase()| urlCode: skill.id)]">
                    <nz-badge [nzDot]="!skill.isConfigured" [nzOffset]="[-8, 0]">
                      <nz-tag class="tag" [nzColor]="(skill.skill| skill).color">{{
                        (skill.skill| skill).name
                      }} <nz-icon class="tag__icon" nzType="setting" nzTheme="outline" /></nz-tag>
                    </nz-badge>
                  </a>
                }
              </td>
              <td>
                <div nz-flex [nzGap]="'large'">
                  <a
                    [routerLink]="['/category', (data.code | urlCode: data.id)]"
                    (click)="handleOpenDrawer()"
                  >
                    <span nz-icon nzType="edit" nzTheme="twotone"></span>
                  </a>
                  <a
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure?"
                    (nzOnConfirm)="confirmDelete(data.id)"
                  >
                    <span
                      nz-icon
                      nzType="delete"
                      nzTheme="twotone"
                      [nzTwotoneColor]="'#FF4C4C'"
                    ></span>
                  </a>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </nz-table>
      </tr>
      }
    </tbody>
  </nz-table>
</app-box>
<app-create-and-update [(drawerVisible)]="drawerVisible" />
