<div nz-flex class="fill-in-the-blank-question">
  <button nz-button nzType="text" type="button" nz-dropdown [nzDropdownMenu]="menu" class="fill-in-the-blank-question--left">
    {{ label }}
    <span nz-icon nzType="down"></span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li
        nz-menu-item
        nz-popconfirm
        nzPopconfirmTitle="Are you sure delete this question?"
        (nzOnConfirm)="confirmDeleteQuestion()"
      >
        <span nz-icon nzType="delete" nzTheme="outline"></span> Delete
      </li>
    </ul>
  </nz-dropdown-menu>
  <div class="fill-in-the-blank-question--right" [formGroup]="formGroup">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTpl">
        <app-quill-editor [hasBlankBox]="true" formControlName="fillInTheBlank"/>
      </nz-form-control>
    </nz-form-item>
    <ng-template #errorTpl>
      @if (formGroup.get("fillInTheBlank")?.errors?.['insertBlank']) {
        Please insert blank box
      } @else if (formGroup.get("fillInTheBlank")?.errors?.['fillInBlank']) {
        Please fill in the blank box
      } @else if (formGroup.get("fillInTheBlank")?.errors?.['fillEditor']) {
        This field is required
      }
    </ng-template>
  </div>
</div>
