@import "../../../../../variables.scss";

.fill-in-the-blank-question {
  align-items: baseline;

  &--right {
    flex: 1;
  }

  &--left {
    min-width: 75px;
  }

  &__input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 4px;
    border: 1px solid map-get($gray-palette, lighter);
    padding: 4px 11px;
    border-radius: 6px;
    min-height: 25px;
    outline: 0;

    &:focus, &:focus-within {
      border-color:#a8caed;
      box-shadow: 0 0 0 2px rgba(123, 168, 224, 0.2);
    }

    &:hover {
      border-color:#a8caed;
    }
  }
}