@import "../../../../../variables.scss";

.create-update-collection {
  &__show-button {
    position: absolute;
    right: 20px;
    bottom: 100px;
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    position: relative;

    &--loading {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: $highlight, $alpha: 0.5);
    }
  }
}