@import "../../../../variables.scss";

.section-form {
  &--left {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .tool-list {
    & > * + * {
      margin-top: 10px;
    }

    &__header {
      font-size: 14px;
      color: map-get($gray-palette, dark);
    }

    &__body {
      & > * + * {
        margin-top: 10px;
      }
    }
  }
  
  .box {
    &__title {
      font-size: 16px;
      color: map-get($gray-palette, dark);
      font-weight: 500;
    }

    &__sub-title {
      font-size: 12px;
      color: map-get($gray-palette, light);
      font-family: 300;
    }
  }
}