@use "../../../../../../variables.scss";
@use "sass:map";

.create-test-sections {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  &__footer {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
  }
}

.parts-list {

  &__item {
    width: 250px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: map.get(variables.$gray-palette, lightest);
      .parts-list__item__title {
        color: variables.$primary;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -11px;
      left: 33px;
      width: 1px;
      height: 20px;
      border: 1.5px dashed variables.$primary;
    }

    &:nth-child(1)::after {
      display: none;
    }

    &__icon {
      color: variables.$primary;
    }

    &__title {
      color: variables.$text-normal;
      font-weight: 500;
      transition: all 0.3s ease;
    }

    &__description {
      color: map.get(variables.$gray-palette, dark);
    }

    &--active {
      background-color: variables.$background;
    }
  }
}