<div [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTpl">
      <app-quill-editor
        [hasBlankBox]="true"
        formControlName="clozeTest"
      ></app-quill-editor>
    </nz-form-control>
  </nz-form-item>
  <ng-template #errorTpl>
    @if (formGroup.get("clozeTest")?.errors?.['insertBlank']) { Please
    insert blank box } @else if
    (formGroup.get("clozeTest")?.errors?.['fillInBlank']) { Please fill in
    the blank box } @else if
    (formGroup.get("clozeTest")?.errors?.['fillEditor']) { This field is
    required }
  </ng-template>
</div>
