<div
  class="form-drag-drop"
  [appDroppable]="true"
  (itemDropped)="handleItemDropped($event)"
  [errorMessage]="isInvalid ? 'Please add at least one item here.' : ''"
  [formGroup]="formGroup"
  [acceptList]="acceptedToolList"
  [excludeList]="excludeToolList"
  [isDisabled]="disableDragDrop"
>
  @for (control of formGroupControls; track controlIndex; let controlIndex = $index) { 
    @switch (control.controlType) 
    { 
      @case (eToolList.Direction) {
        <div class="form-drag-drop__item">
          <span
            nz-icon
            nzType="close-circle"
            nzTheme="twotone"
            nzTwotoneColor="#FF4C4C"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete it?"
            (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
          ></span>
          <nz-form-item>
            <nz-form-label nzRequired>{{
              control.controlType | toolLabel
            }}</nz-form-label>
            <nz-form-control nzErrorTip="This field is required.">
              <textarea 
                nz-input
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                [formControlName]="control.controlInstance ?? ''"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      } 
      @case (eToolList.Passage) {
        <div class="form-drag-drop__item">
          <span
            nz-icon
            nzType="close-circle"
            nzTheme="twotone"
            nzTwotoneColor="#FF4C4C"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete it?"
            (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
          ></span>
          <nz-form-item>
            <nz-form-label nzRequired>{{
              control.controlType | toolLabel
            }}</nz-form-label>
            <nz-form-control nzErrorTip="This field is required">
              <app-text-editor-input
                [formControlName]="control.controlInstance ?? ''"
              ></app-text-editor-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      } 
      @case (eToolList.QuestionWithChoices) { 
        @if (control.items && control.items.length > 0) {
          <div class="form-drag-drop__item">
            <span
              nz-icon
              nzType="close-circle"
              nzTheme="twotone"
              nzTwotoneColor="#FF4C4C"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure delete it?"
              (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
            ></span>
            <div [formArrayName]="control.controlInstance ?? ''" class="questions">
              @for (question of control.items; track question.id; let questionIndex = $index) {
                <app-question-with-choices-input
                  [formControlName]="questionIndex"
                  [label]="'Question ' + (questionIndex + 1)"
                  (removeControl)="
                    removeQuestion(control.controlInstance ?? '', questionIndex)
                  "
                >
                </app-question-with-choices-input>
              }
            </div>
          </div>
        } 
      } 
      @case (eToolList.FillInTheBlank) { 
        @if (control.items && control.items.length > 0) {
          <div class="form-drag-drop__item">
            <span
              nz-icon
              nzType="close-circle"
              nzTheme="twotone"
              nzTwotoneColor="#FF4C4C"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure delete it?"
              (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
            ></span>
            <div [formArrayName]="control.controlInstance ?? ''" class="questions">
              @for (question of control.items; track question.id; let questionIndex = $index) {
                <app-fill-in-the-blank-input
                  [formControlName]="questionIndex"
                  [label]="'Question ' + (questionIndex + 1)"
                  (removeControl)="
                    removeQuestion(control.controlInstance ?? '', questionIndex)
                  "
                >
                </app-fill-in-the-blank-input>
              }
            </div>
          </div>
        } 
      } 
      @case (eToolList.ClozeTest) {
        <div class="form-drag-drop__item">
          <span
            nz-icon
            nzType="close-circle"
            nzTheme="twotone"
            nzTwotoneColor="#FF4C4C"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete it?"
            (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
          ></span>
          <nz-form-item>
            <nz-form-label nzRequired="">{{
              control.controlType | toolLabel
            }}</nz-form-label>
            <nz-form-control>
              <app-cloze-test-input [formControlName]="control.controlInstance ?? ''">
              </app-cloze-test-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      } 
      @case (eToolList.MatchingQuestion) {
        <div class="form-drag-drop__item">
          <span
            nz-icon
            nzType="close-circle"
            nzTheme="twotone"
            nzTwotoneColor="#FF4C4C"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete it?"
            (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
          ></span>
          <nz-form-item>
            <nz-form-label nzRequired="">{{
              control.controlType | toolLabel
            }}</nz-form-label>
            <nz-form-control>
              <app-matching-question
                [formControlName]="control.controlInstance ?? ''"
              >
              </app-matching-question>
            </nz-form-control>
          </nz-form-item>
        </div>
      } 
      @case (eToolList.BinaryResponseQuestion) {
        <div class="form-drag-drop__item">
          <span
            nz-icon
            nzType="close-circle"
            nzTheme="twotone"
            nzTwotoneColor="#FF4C4C"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete it?"
            (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
          ></span>
          <nz-form-item>
            <nz-form-label nzRequired="">{{
              control.controlType | toolLabel
            }}</nz-form-label>
            <nz-form-control>
              <app-binary-response-question
                [formControlName]="control.controlInstance ?? ''"
              >
              </app-binary-response-question>
            </nz-form-control>
          </nz-form-item>
        </div>
      } 
      @case (eToolList.Image) {
      <div class="form-drag-drop__item">
        <span
          nz-icon
          nzType="close-circle"
          nzTheme="twotone"
          nzTwotoneColor="#FF4C4C"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete it?"
          (nzOnConfirm)="removeControl(control.controlInstance ?? '')"
        ></span>
        <nz-form-item>
          <nz-form-label nzRequired="">{{
            control.controlType | toolLabel
          }}</nz-form-label>
          <nz-form-control>
            <app-upload-image [formControlName]="control.controlInstance ?? ''">
            </app-upload-image>
          </nz-form-control>
        </nz-form-item>
      </div>
      } 
    } 
  }
</div>
