@use "./variables";

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px; 
    line-height: 1.5; 
    font-family: 'Poppins', sans-serif;
}

blockquote {
    quotes: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.drag-item {
  width: 100%;
  padding: 4px 6px;
  text-align: center;
  border: 1px solid map-get(variables.$gray-palette, medium);
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  color: map-get(variables.$gray-palette, medium);
  background-color: white;
}

.drop-cover {
  position: absolute;
  inset: 0;
  border: 2px dashed variables.$secondary;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$background;
  color: variables.$primary;
  font-weight: 600;
  opacity: 0.7;

  &--error {
    border-color: variables.$error !important;
    background-color: rgba(variables.$error, $alpha: 0.1) !important;
    color: rgba(variables.$error, $alpha: 0.8) !important;
  }
}